.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.navbar-custom {  
  background-color: #FFE5CA;  
} 

.nav-link{
  color: #F3DEBA;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tip{
  padding-left: 200px;
  padding-right: 200px;
}
h1,h2,h3
  {
    align-items: center;
    text-align:center;
    color: #E74646;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-display: swap;
  }
  h4
  {
    align-items: center;
    color: #FFE5CA;
    font-weight: 500;
    font-display: swap;
  }

.patientPage{
  padding-top: 50px;
  padding-left: 350px;
    padding-right: 350px;
   
}

.nursePage{
  padding-top: 50px;
  padding-left: 350px;
    padding-right: 350px;
   
}

.listColor{
  padding-top: 30px;
  color: #350ff2;
  font-size: large;
}

  body{
    background-image: linear-gradient(to left, #FA9884, #FA9884);
  }
  .form{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;
  padding:30px;
  background-color: #ffc9c9;
  opacity: 0.8;
  border-radius: 20px;
  border-color: darkgrey;
  border-style:double;
  font-size: large;
  }

  .login{
   display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 50px;
  margin-left: 500px;
  margin-right: 500px;
  padding:30px;
  background-color: #ffc9c9;
  opacity: 0.8;
  border-radius: 20px;
  border-color: darkgrey;
  border-style:double;
  }

.viewPage{
  padding-top: 80px;
}
.button{
  font-size: large;
  padding-left: 250px;
  padding-right: 50px;
}
.buttonBack{
  font-size: large;
  padding-left: 700px;
  padding-top: 50px;
}
.buttonSave:hover {
  background-color: #4CAF50;
  color: white;
}
.buttonCancel:hover {
  background-color: red;
  color: white;
}

